<% include partials/header %>

<div class="ui container main">

    <div class="huge ui header">Blogs</div>

    <div class="ui relaxed divided items segment">
        <% blogs.forEach((blog) => { %>
            <div class="item">
                <div class="image">
                    <img src="<%= blog.image %>">
                </div>
                <div class="content">
                    <div class="header"><%= blog.title %></div>
                    <div class="meta">
                        <span><%= blog.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p><%= blog.body.substring(0, 100) %>...</p>
                    </div>
                    <a class="ui blue basic button right floated" href="/blogs/<%= blog._id %>">Read More</a>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>

<% include partials/footer %>
